[submodule "vim/pack/jjoplin/start/vim-fugitive"]
	path = vim/pack/jjoplin/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/jjoplin/opt/onedark.vim"]
	path = vim/pack/jjoplin/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "vim/pack/jjoplin/opt/base16-vim.git"]
	path = vim/pack/jjoplin/opt/base16-vim.git
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/pack/jjoplin/opt/jellybeans.vim"]
	path = vim/pack/jjoplin/opt/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/pack/jjoplin/start/vim-airline"]
	path = vim/pack/jjoplin/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/jjoplin/start/vim-airline-themes"]
	path = vim/pack/jjoplin/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/jjoplin/start/vim-yaml-folds"]
	path = vim/pack/jjoplin/start/vim-yaml-folds
	url = https://github.com/pedrohdz/vim-yaml-folds.git
[submodule "vim/pack/jjoplin/start/ale"]
	path = vim/pack/jjoplin/start/ale
	url = https://github.com/dense-analysis/ale.git
